doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/custom-select.css')
    script(type='text/javascript', src='/javascripts/vendor/prototype.js')
    script(type='text/javascript', src='/javascripts/utilitis/events.js')
    script(type='text/javascript', src='/javascripts/models/option.js')
    script(type='text/javascript', src='/javascripts/models/select.js')
    script(type='text/javascript', src='/javascripts/view/select.js')
    script(type='text/javascript', src='/javascripts/app.js')
  body
    block content
